.chats-screen{
    position: relative;
    height: 400px;
    width: 250px;
}

.chats-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    background-color: #059ee0;
    height: 50px;
}
.chats-search{
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 8px; 
}
.chats-avatar{
    height: 25px !important;
    width: 25px !important;
}
.chats-search input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 12px;
    flex: 1;
    color: white;
}
.chats-search input::placeholder{
    opacity: 1;
    color: white;
}
.chats-search-icon{

}
.chats-chat-icon{

}
.chats-content{
    height: 359px;
    background-color: white;
    box-shadow: 1px -7px 7px -6px rgba(0,0,0,0.44);
    margin-top: -9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: scroll;
}
.chats-content::-webkit-scrollbar{
    display: none;
}
.chats-content{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
